*{
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}
.navbar { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px; 
    background-color: black;
    color: #ffffff;
    border: 4px solid pink;
}
.logo {
    font-size: 30px;
    color: white;
    flex: 1;
    padding-left: 50px;
}
.nav-links {
    flex: 1;
    display: flex;
    justify-content: space-around;
    color: white;
}
.list-item {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    cursor: pointer;
}
.icon {
    background-color: black;
}
.mobile-menu-icon {
    display: none;
}
.container {
    width: 1800px;
    margin: 0 auto;
    background-color: black;
}
@media screen and (max-width: 780px) {
    .log {
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .nav-links {
        display: none;
    }
    .nav-links-mobile {
        position: absolute;
        display: block;
        list-style: none;
        background-color: black;
        left: 0;
        top: 75px;
        transition: all .5s ease-out;
        width: 100%;
    }
    .list-item {
        text-align: center;
        width: 100%;
        transition: all .5s easej;
    }
}
.mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    top: 15px;
}
@media screen and (min-width: 781px) {
    .mobile-menu-icon {
        display: none;
    }
}